* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}
#title {
    text-align: center;
    color: green;
    text-shadow: 1px 1px black;
    padding: 30px;
}
.visContainer {
    background-color: lightgrey;
    border: 5px solid rgb(83, 83, 5);
}
.bar {
    fill: green;
}
.bar:hover {
    fill: yellow;
}
#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: rgb(228, 252, 193);
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
  }